@model IEnumerable<TaskManager.Models.MissionViewModel>

@{
    var grid = new WebGrid(Model, rowsPerPage: 4);

}
@section styles {
    <a href="~/Content/GridStyle.css" rel="stylesheet" />
}

@if (User.Identity.IsAuthenticated)
{
    <div class=" col-md-6 ">
        <div>
            @grid.GetHtml(
                      columns: grid.Columns(
                      grid.Column(columnName: "IsDone", header: " ", format: @<input type="checkbox">),
                      grid.Column(columnName: "Name"),
                      grid.Column(columnName: "Description", style:"row")),
              fillEmptyRows: true,
              nextText: "Next",
              previousText: "Previos",


              tableStyle: "grid",
              headerStyle: "header",
              footerStyle: "footer",
              alternatingRowStyle: "alt-row",
              rowStyle: "row")
        </div>
    </div>


}
