@model TaskManager.Models.MissionViewModel

@if (User.Identity.IsAuthenticated)
{
    <div class=" col-md-3 ">
        <div class="panel">
            <div class="panel-heading text-center ">
                <h3>Add point</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("CreateTask", "Home", FormMethod.Post@*, new { enctype = "multipart/form-data" }*@))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Add point</button>
                        </div>
                        
                    </div>
                    <fieldset>
                         <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                        </div>
                        
                    </fieldset>
                }
            </div>

        </div>
    </div>
}
