@model IEnumerable<TaskManager.Models.MissionViewModel>

@{
    var grid = new WebGrid(Model, rowsPerPage: 4, ajaxUpdateContainerId: "gridContentMiss");

}

@if (User.Identity.IsAuthenticated)
{
    <div class=" col-md-12 ">
        <div>
            <br><br><br>
        </div>
        <div id="gridContentMiss">
            @grid.GetHtml(
                      columns: grid.Columns(
                      grid.Column(columnName: "IsDone", header: " ", format: @<input type="checkbox">),
                grid.Column(columnName: "Name"),
                   grid.Column(columnName: "Description")),
        fillEmptyRows: true,
                nextText: "Next",
                previousText: "Previos",

                tableStyle: "grid",
                headerStyle: "headerGrid",
                footerStyle: "footerGrid",
                alternatingRowStyle: "alt-rowGrid",
                rowStyle: "rowGrid")
            </div>

    </div>


}
