@model TaskManager.Models.MissionViewModel
@{
               var options = new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod="Post",
                   UpdateTargetId = "mission",
                   LoadingElementId="loadingIndicator",
                   
                   
                };
}
<div id="contentBox">
@if (User.Identity.IsAuthenticated)
{
    <div class=" col-md-5 ">
        <div class="panel">
            <div class="panel-heading text-center ">
                <h3>Add point</h3>
            </div>

            <div class="panel-body" id="form-id">
                @using (Ajax.BeginForm("Create", "Mission", new { taskIdNew = ViewBag.TaskIdNew }, options))
                {
                    <fieldset>
                        <div class="form-group">

                            @Html.Label("Description")
                            <p>@Html.TextAreaFor(m => m.Description, new { @class = "form-control", value = "" })</p>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <button type="submit" class="btn btn-success btn-lg btn-block">Add point</button><img id="loadingIndicator" style="display:none" src="@Url.Content("~/Content/Images/Preloader_2/Preloader_2.gif")" />
                            </div>

                        </div>
                    </fieldset>
                }


            </div>

            </div>
        </div>


    <div class=" col-md-7 ">
        <div class="panel">
            <div class="panel-heading text-center ">
                <h3>Points</h3>
                
                @Ajax.ActionLink("Finish", "ShowMission", "Mission", new { id = ViewBag.TaskIdNew }, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "main",

                }, new { @type = "button", @class = "btn btn-success btn-lg btn-block" })
            </div>

            <div class="panel-body">
                <div id="mission">
                </div>
                </div>

        </div>
    </div>
}
</div>
 
