@model IEnumerable<TaskManager.Models.MissionViewModel>

@{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContentMiss", rowsPerPage:4);

}

@if (User.Identity.IsAuthenticated)
{
    <div class=" col-md-12 ">
        <div>
            <br><br><br>
        </div>
        <div id="gridContentMiss">
            @grid.GetHtml(
                      columns: grid.Columns(
          grid.Column(columnName: "IsDone", header: "^", format: @<text>@{bool isDone = item.IsDone;}
                            @Html.CheckBox(" ", isDone, new { @class = @item.Id, @id = "myMiss" }) </text>),
          grid.Column(columnName: "Name"),
          grid.Column(columnName: "Description")),
          nextText: "Next",
          previousText: "Previos",
          tableStyle: "grid",
          headerStyle: "headerGrid",
          footerStyle: "footerGrid",
          alternatingRowStyle: "alt-rowGrid",
          rowStyle: "rowGrid")
        </div>







    </div>


}
