@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404Error</title>
</head>
<body>
    <div>
        <br><br><br><br><br>
        <p>It isn't <span style="color:red; font-size:150px">Error 404</span>. Problems are in our heads!</p>

    </div>
</body>
</html>
