@model TaskManager.Models.MissionsViewModel

<div class="panel panel-default">
    <div class="panel-body">
        @foreach (var mission in Model.Missions)
        {
            
            @Html.CheckBox("IsDone", (bool)mission.IsDone, new { 
           @name = "IsDone", 
           @class = mission.Id, 
           @onclick = @Url.Action("MarkAsDone", "Mission", new{ id=mission.Id }) }) @mission.Description
            
        }
    </div>
</div>



